
GEMINI_API_KEY=AIzaSyB5jD6OD9pITikt-_mqohULhbUSeTqGn3g

GOOGLE_CLIENT_ID=481564971564-vha9gdm3r4bp6su2j4msfk9ktb5c21ia.apps.googleusercontent.com

GOOGLE_CLIENT_SECRET=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


REDIRECT_URI=http://localhost:8000/auth/callback

SECRET_KEY=anystring123
